__pycache__/
*.pyc
*.pyo
*.pyd
pretrained/*
data/*/*
data/biased_mnist/pickles/
!data/*/unique_tags_per_class.csv
!data/*/train_tags.csv
!data/*/relevant_tags/
!data/pickles/
!data/clusters/
/output/
/slurm/
/tmp/
/coco/
/tmp_text_similarities/
/tag_extraction/
/_vlm_study/
/outputs/
/dictionary_learning/